header {

    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    position: sticky;
    top: 0;
    box-shadow: rgb(44, 83, 100) 0px 0px 10px;
}

nav {
    display: flex;
    width: 100%;
    padding: 10px 30px 10px 30px;
}

nav .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;


}

nav .left div {
    display: flex;
    align-items: center;
    width: 100%;
}


.kare {
    width: 16px !important;
    height: 16px;
    background-color: var(--belirgin);
    display: flex;
    margin-right: 10px;
}

.name {

    font-size: 1.2em;
    margin: 0;
}

nav .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

nav .right ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

nav .right ul li {
    margin: 10px;
    font-size: 1.2rem;
}

nav .right ul a {
    text-decoration: none;
    color: black;
}

nav .right ul a:hover {
    color: var(--belirgin);
}

@media (max-width: 768px) {

    nav .left {
        width: 100%;
        font-size: 12px;

    }
}