@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --belirgin: #1181B2;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
#root{
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    background-size: cover;
  

}

@media (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

/* Media query for mobile phones: screen width less than 768px */

@media (max-width: 768px) {

    nav .left {
        width: 100%;
        font-size: 12px;

    }

    



}