footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    padding: 20px;
    margin-top: 40px;
}


@media (max-width: 768px) {

    nav .left {
        width: 100%;
        font-size: 12px;

    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        padding: 10px;
        justify-content: center;


    }

    #me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;

    }

    #hello {
        font-size: 1.5rem;
        width: 100%;
        padding: 10px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    #about_me {
        font-size: 14px;
        line-height: 26px;
        padding: 10px 10px 10px 10px;
    }

    #works {
        padding: 2px;
    }

    #works div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .work {
        height: 120px;
        margin: 2px 2px 20px 2px;

    }



}